<div id="navMenu">
	<h1 id="title">PunchClock</h1>
	{{#link-to "add-invoice" class="navOption" tagName="div"}}New{{/link-to}} 
	<span id="navDivider">|</span> 
	{{#link-to "index" class="navOption" tagName="div"}}Home{{/link-to}}
	
	
</div>
<br><br>


{{outlet}}